<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186864846135-rimh8ph5uu3p6m29d7m8j35bciosn09e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186864846135-rimh8ph5uu3p6m29d7m8j35bciosn09e</string>
	<key>API_KEY</key>
	<string>AIzaSyDFG3fW-zIbgH_THPPCalHYLIK_aU6_M8U</string>
	<key>GCM_SENDER_ID</key>
	<string>186864846135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ericdavenport.FirebaseAuthLab</string>
	<key>PROJECT_ID</key>
	<string>fir-authlab-2c5d4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authlab-2c5d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186864846135:ios:d95ea9d5c9868130e686b2</string>
	<key>DATABASE_URL</key>
	<string>https://fir-authlab-2c5d4.firebaseio.com</string>
</dict>
</plist>